/* Apply a light text to the body */
body {
    background: linear-gradient(to left top, rgb(4, 18, 53), rgb(40, 119, 129));
    color: #000000;
}

/* Customize the Jumbotron */
.jumbotron {
    background-image: url("../images/lab.jpg");
    background-size: 90% 90%;
    text-align: center;
    
}

/* Change color in the panel-body */
.panel-body {
    background:#8ac7e4;}

/* Change Text Color of Selected Option in a Select Box */
select{
    color: rgb(7, 7, 7); 
}


